body {
    margin: 0;
    /* padding: 0 10%; */
    background-color: grey;
    font-family: 'Roboto', sans-serif;
}

.div1 {
    padding: 0 2rem;
    /* border: 3px solid red; */
    background-color: #1f2937;
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.div11 {
    display: flex;
    border: 1px solid green;
    justify-content: space-around;
    padding: 1rem 0;
}

    .div111 {
        color: #f9faf8;
        font-size: 24px;
    }

    .div112, .div113, .div114, .div121 p {
        color: #e5e7eb;
        font-size: 18px;
    }

.div12 {
    display: flex;
    border: 1px solid whiteE;
    /* justify-content: space-evenly; */
   /* // padding: 1rem 0; */
    flex-wrap: wrap;
}

    .div121 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: 1px solid red;
        /* //width: 50%; */
        /* flex: 1 0 40%; */
        flex: 1;
        /* justify-content:space-between; */
    }

        .div121 h1 {
            color: #f9faf8;
            font-size: 48px;
            font-weight: bolder;
            /* flex: auto ; */
            border: 1px solid red;

        }

        .div121 p {
            /* flex: auto; */
            border: 1px solid red;

        }

        .div121 input {
            /* flex: auto; */
            align-self:flex-start;
            background-color: #3882f6;
            color: #e5e7eb;
            font-weight: bold;
            width: 6rem;
            height: 1.5rem;
            border: 1px solid red;

        }

    .div122 {
    border: 1px solid yellow;
    /* flex: 0 0 40%; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    }

        .div122>img {
            /* border: 1px solid blue;  */
            border-radius: 5px;
            width: 60%;
            height: 60%;
        }

        /* .div122>p {
            //flex: 0 0 auto;
           // border: 1px solid blue;
            border-radius: 5px;
            width: 100%;
            height: 20%;
            text-align: center;
            color: whitesmoke;
        }*/

.div2 {
    padding: 0 2rem;
    border: 1px solid red;
    background-color: whitesmoke;
    width: 80%;
    margin: 0 auto;
}

    .div21 h1 {
        font-size: 36px;
        font-weight: bolder;
        color: #1f2937;
        border: 1px solid black;
        text-align: center;
    }

    .div22 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border: 1px solid black;
    }

        .div22>div>img {
            flex: 1;
            border: 1px solid blue;
            border-radius: 5px;
            height: 150px;
        }

        .div22>div>p {
            text-align: center;
        }